
body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f6f9;
}

header{
    background:#1f2937;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#111827;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:30px;
    margin:20px;
    background:white;
    border-radius:8px;
}

section img{
    max-width:100%;
    margin-top:15px;
    border:1px solid #ccc;
}

footer{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:15px;
}
