body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f2f4f8;
    line-height:1.6;
}

header{
    background:#0f172a;
    color:white;
    padding:30px;
    text-align:center;
}

nav{
    background:#020617;
    padding:10px;
    position:sticky;
    top:0;
    z-index:1000;
    text-align:center;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
    font-weight:bold;
    font-size:14px;
}

section{
    background:white;
    margin:20px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.05);
}

h2{
    color:#0f172a;
    border-bottom:2px solid #e5e7eb;
    padding-bottom:5px;
}

h3{
    color:#1e293b;
}

pre{
    background:#0f172a;
    color:#e5e7eb;
    padding:15px;
    overflow-x:auto;
    border-radius:8px;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
}

ul{
    margin-left:20px;
}
